@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F3F4F6;
  font-family: Arial, Helvetica, sans-serif;
}